[flake8]
max-line-length = 88
extend-ignore = E203
exclude =
    .python_packages
    .venv
    .git
    __pycache__
    .mypy_cache

ignore =
    # Default ignores
    E121,E123,E126,E226,E24,E704,W503,W504

    # Auto-fmt compatibility
    # Whitespace before ':' | NOT PEP8 COMPLIANT
    E203,
    # Allow long lines if needed | BLACK HANDLES CODE FORMATTING
    E501,
    # Multi-line docstring summary should start at the first line
    D212,

    # Allow looser flake8-docstrings / pydocstyle restrictions
    # One-line docstring should fit on one line with quotes
    D200,
    # First line should end with a period
    D400,
    # First line should be in imperative mood
    D401,

    # Subprocess module imported. Warning to be careful only.
    S404,
    # Subprocess used without shell=True. Warning to be careful only.
    S603,
